.work-container {
  display: block;
}
.work-container .work-item {
  list-style: none;
  margin-bottom: 100px;
  overflow: auto;
}
.work-container .work-item .work-item-column .work-item-image {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
}
.work-container .work-item .work-item-column .work-item-details {
  padding: 0px;
}
.work-container .work-item .work-item-column .work-item-details .work-item-description p:first-child {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.work-container .work-item .work-item-column .work-item-details .work-item-description p:not(:first-child) {
  display: none;
}
.work-container .work-item .work-item-column a {
  color: darkgoldenrod;
  text-decoration: none;
}

@media (min-width: 992px) {
  .work-container .work-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
  }
  .work-container .work-item::after {
    content: "";
    clear: both;
    display: table;
  }
  .work-container .work-item .work-item-column .work-item-image {
    margin: 0px;
  }
  .work-container .work-item .work-item-column.column-details {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .work-container .work-item {
    grid-gap: 50px;
  }
}
.title-primary {
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  color: darkgoldenrod;
  margin-bottom: 30px;
}

.title-secondary {
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 10px;
}

.paragraph-primary {
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 10px;
}

.padding-primary {
  padding: 15px;
}

.button-primary {
  all: unset;
  background-color: darkgoldenrod;
  color: white;
  font-size: 14px;
  padding: 10px;
  width: 100px;
  text-align: center;
  position: relative;
}

.primary-color {
  color: white;
}

.secondary-color {
  color: darkgoldenrod;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: Verdana, sans-serif;
  color: #313131;
}

#content {
  min-height: 100vh;
}

.dark-container {
  background-color: #313131;
}
.dark-container * {
  color: white;
}

#header {
  position: fixed;
  display: block;
  width: 100%;
  transition: all 0.3s;
  z-index: 9;
  top: 0px;
}
#header.sticked {
  top: -57px;
}
#header .header-navbar {
  background-color: #fff;
  border-bottom: 2px solid darkgoldenrod;
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  flex-direction: column;
}
#header .header-navbar .hamburguer {
  display: block;
  position: absolute;
  right: 20px;
  top: 10px;
  height: 35px;
  padding: 0px;
  z-index: 3;
}
#header .header-navbar .hamburguer .bar {
  background-color: darkgoldenrod;
  border-radius: 5px;
  height: 5px;
  margin: 5px 0px;
  width: 30px;
}
#header .header-navbar .header-navbar-logo {
  color: darkgoldenrod;
  font-size: 35px;
}
#header .header-navbar nav {
  padding: 0px;
  display: none;
}
#header .header-navbar nav.visible {
  display: block;
}
#header .header-navbar nav li {
  margin: 0px;
  display: block;
  margin: 10px 0px;
  text-align: center;
}
#header .header-navbar nav li a {
  color: darkgoldenrod;
  font-size: 20pt;
  text-decoration: none;
}

.banner {
  position: relative;
  background-color: black;
}
.banner .banner-img {
  height: 100vw;
  width: 100%;
  object-fit: cover;
  opacity: 0.5;
}
.banner .banner-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  width: auto;
}

.nav-margin {
  height: 57px;
}

#footer footer {
  padding-bottom: 10px;
}
#footer footer .social-container {
  margin-bottom: 10px;
}
#footer footer .social-container .social-item {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}
#footer footer .footer-menu {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
#footer footer .footer-menu ul {
  margin-right: 10px;
  margin-bottom: 30px;
}
#footer footer .footer-menu ul li {
  list-style: none;
  margin-bottom: 10px;
}

@media (min-width: 640px) {
  .title-primary {
    font-size: 42px;
  }

  .title-secondary {
    font-size: 32px;
  }

  .paragraph-primary {
    font-size: 18px;
  }

  .padding-primary {
    padding: 100px 200px;
  }

  #header .header-navbar {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
  }
  #header .header-navbar .hamburguer {
    display: none;
  }
  #header .header-navbar .header-navbar-logo {
    margin: 0px;
  }
  #header .header-navbar nav {
    display: block;
  }
  #header .header-navbar nav li {
    display: inline-block;
    margin: 0px;
    margin-left: 10px;
  }
  .banner .banner-img {
    height: 40vw;
  }
}
@media (min-width: 992px) {
  .padding-primary {
    padding: 100px 200px;
  }

  #footer footer .footer-menu {
    flex-direction: row;
    max-width: 640px;
  }
}
@media (min-width: 1280px) {
  .title-primary {
    margin-bottom: 50px;
  }

  .title-secondary {
    margin-bottom: 30px;
  }

  .paragraph-primary {
    margin-bottom: 30px;
  }

  .padding-primary {
    padding: 100px 350px;
  }
}

/*# sourceMappingURL=base.css.map */
