{% extends './base.html' %}
{% load static %}
{% load responsive_images %}




{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'bedrooms/index.css' %}">


{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}

<section>
    <div class="banner">
        <!-- <img src="{ srcset values.slider.src.url 1080x180 1280x512 1920x768 %}" class="banner-img" alt="{{values.slider.alt}}" /> -->
        <img srcset="{% srcset values.banner.src 1080x1080 1280x512 1920x768 %}" class="banner-img" alt="{{values.banner.alt}}" />
        <h2 class="banner-text title-primary padding-primary">Bedrooms for Rent.</h2>
    </div>
</section>
<section id="works" class="padding-primary">
    <h2 class="title-primary">Some of Our Bedrooms</h2>
    {% include './bedroom_container.html' with Bedrooms=values.bedrooms %}
</section>
<section id="partiners" class="dark-container padding-primary clients"
style="background-image: url('{{values.partiners_img.src.url}}');">
    <h2 class="title-primary">Some of Our Trusted Partners and Clients</h2>
    <p class="paragraph-primary">Ten the hastened steepest feelings pleasant few surprise property. An brother he do colonel against minutes uncivil. Can how elinor warmly mrs basket marked. Led raising expense yet demesne weather musical. Me mr what park next busy ever. Elinor her his secure far twenty eat object. Late any far saw size want man. Which way you wrong add shall one. As guest right of he scale these. Horses nearer oh elinor of denote.</p>

    <ul class="partiners-container">
        <li class="partiners-item"><i class="fab fa-facebook"></i></li>
        <li class="partiners-item"><i class="fab fa-amazon"></i></li>
        <li class="partiners-item"><i class="fab fa-apple"></i></li>
        <li class="partiners-item"><i class="fab fa-bitcoin"></i></li>
        <li class="partiners-item"><i class="fab fa-chrome"></i></li>
        <li class="partiners-item"><i class="fab fa-youtube"></i></li>
        <li class="partiners-item"><i class="fab fa-bluetooth"></i></li>
        <li class="partiners-item"><i class="fab fa-canadian-maple-leaf"></i></li>
        <li class="partiners-item"><i class="fab fa-fedex"></i></li>
        <li class="partiners-item"><i class="fab fa-google-play"></i></li>
        <li class="partiners-item"><i class="fab fa-linkedin"></i></li>
        <li class="partiners-item"><i class="fab fa-reddit"></i></li>
        <li class="partiners-item"><i class="fab fa-steam"></i></li>
        <li class="partiners-item"><i class="fab fa-windows"></i></li>
        <li class="partiners-item"><i class="fab fa-playstation"></i></li>
    </ul>
</section>
<section id="team" class="padding-primary">
    <h2 class="title-primary">Our Team</h2>
    <p class="paragraph-primary">So insisted received is occasion advanced honoured. Among ready to which up. Attacks smiling and may out assured moments man nothing outward. Thrown any behind afford either the set depend one temper. Instrument melancholy in acceptance collecting frequently be if. Zealously now pronounce existence add you instantly say offending. Merry their far had widen was. Concerns no in expenses raillery formerly. </p>
    <div class="team-container">
        {% for team_unit in values.teams %}
        <div class="team-item">
            <article>
                <figure>
                    <div class="team-item-image" style="background-image: url({{team_unit.image.url}})"></div>
                </figure>
                <h2 class="team-item-name title-secondary">{{team_unit.name}}</h2>
                <p class="team-item-description paragraph-primary">{{team_unit.description}}</p>
            </article>
        </div>
        {% endfor %}
    </div>
</section>


<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous"></script><script>

$(document).ready(function(){
    $('.slider-banner').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: true,
    });
});


</script> -->
{% endblock %}