@import "_variables";


//works

.work-container{
    display: grid;
    //grid-template-columns: repeat( auto-fill, minmax(300px, 1fr) );
    grid-template-columns: repeat( 1, 1fr);
    grid-gap: 10px;

    .work-item{
        list-style: none;

        .work-item-image{
            width: 100%;
        }

        .work-item-description{
            p:first-child{
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden; 
            }
            p:not(:first-child){
                display: none;
            }

        }
        
        a{
            color: $secondary-color;
            text-decoration: none;
        }
    }
}


@media(min-width: $size-md){
    .work-container{
        grid-template-columns: repeat( 2, 1fr);
    }
}

@media(min-width: $size-lg){
    .work-container{
        grid-template-columns: repeat( 4, 1fr);
    }
}