
$primary-color: white;
$secondary-color: darkgoldenrod;
$dark-color: #313131;


//size
$size-sm: 576px;
$size-md: 640px;
$size-lg: 992px;
$size-xl: 1280px;


//margin
$margin-sm: 10px;
$margin-md: 20px;
$margin-lg: 30px;
$margin-xl: 50px;


// font-size
$font-size-sm: 14px;
$font-size-md: 18px;
$font-size-lg: 32px;
$font-size-xl: 42px;

