
$primary-color: white;
$secondary-color: darkgoldenrod;
$dark-color: #313131;


//size
$size-sm: 576px;
$size-md: 667px;
$size-lg: 992px;
$size-xl: 1200px;


//margin
$margin-sm: 10px;
$margin-md: 15px;
$margin-lg: 20px;
$margin-xl: 25px;
