@import "variables/bedroom_container";


#bedrooms{

    .bedrooms-paragraph{
        margin-bottom: $margin-xl;
    }

    #pagination{
        display: flex;
        margin: $margin-xl;
        justify-content: center;
    
        .button-pagination{
            margin: 10px;
            font-size: 30px;
            text-decoration: none;
        }
    }

}