@import "variables/_variables";

#bedroom{
    article{
        img{
            height: auto;
            width: 100%;
            display: block;
            margin: 0px auto $margin-sm auto ;
        }
    }
}


@media(min-width: $size-md){
    #bedroom{
        article{
            img{
                width: 70%;
                max-width: $size-md;
                margin-bottom: $margin-md;
            }

        }
    }
}